.cardPelicula{
    display: flex;
    /* background-color: var(--primaryLight); */
    background-color: rgb(43, 42, 42);
    width: 100%;
    padding: 8px;
    margin-bottom: 8px;
    color: var(--textLight);
}

.img{
    height: 300px;
    width: 300px;
}

.cardPeliculaInfo{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.descPrincipal{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cardCategorias{
    
    display: flex;
}

.cardCategorias > *{
    background-color: dodgerblue;
    color: white;
    padding: 4px;
    margin: 4px;
    border-radius: 4px;
    
}