.App{
  position: fixed;
  background-color: var(--bgDark);
  color: var(--textLight);
  top:0;
  left:0;
  height: 100%;
  width: 100%;
}



.row{
  display: flex;

}

.column{
  display: flex;
  flex-direction: column;
}

.end{
  justify-content: flex-end;
}

.center{
  justify-content: center;
}

.start{
  justify-content: start;
}

.space-around{
  justify-content: space-around;
}

.space-between{
  justify-content: space-between;
}

@media screen and (max-width: 600px) {
  .m-row{
    display: flex;
  
  }
  
  .m-column{
    display: flex;
    flex-direction: column;
  }
  
  .m-end{
    justify-content: flex-end;
  }
  
  .m-center{
    justify-content: center;
  }
  
  .m-start{
    justify-content: start;
  }
  
  .m-space-around{
    justify-content: space-around;
  }
  
  .m-space-between{
    justify-content: space-between;
  }

}
